<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/createQuiz.js"></script>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <main>
    <h1>Create your quiz: 🔎</h1>


    <form method="POST" action= "/create" >
      <label for="quiz-title">
        Quiz title
      </label>
      <input type="text" id="quiz-title" name="title" required="required">
      <label for="quiz-description">
        Quiz description
      </label>
      <input type="text" id="quiz-description" name="description" required="required">

<div id="questions-container">

  <div class="question-box">

    <label for="quiz-question-1">
      Question #1
    </label>
    <input type="text" id="quiz-question-1" name="question1" required="required">

    <label for="quiz-answer-correct-1">
      Correct answer
    </label>
    <input required="required" type="text" id="quiz-answer-correct-1" name ="answerCorrect1">

    <label for="quiz-answer-incorrect-1-A">
      Incorrect answer
    </label>
    <input required="required" type="text" id="quiz-answer-incorrect-1-A" name="answerIncorrect1">

    <label for="quiz-answer-incorrect-1-B">
      Incorrect answer
    </label>
    <input required="required" type="text" id="quiz-answer-incorrect-1-B" name="answerIncorrect1">

    <label for="quiz-answer-incorrect-1-C">
      Incorrect answer
    </label>
    <input required="required" type="text" id="quiz-answer-incorrect-1-C" name="answerIncorrect1">

  </div>

    </div>



      <input required="required" type="button" value="Add question" id="new-question">
      <legend>
        Make your quiz public or private
      </legend>
        <input required="required" type="radio" name="listing" id="public" value="public">
        <label for="public">Public</label>
        <input required="required" type="radio" name="listing" id="private" value="private">
        <label for="private">Private</label>
      <input required="required" type="submit" value="Submit">
    </form>
  </main>

</body>

</html>
