<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <h1>Have fun! 🥔</h1>
  <main>
    <h1>Quiz Maker</h1>


    <form method="POST" action= "/createquiz" >
      <label for="quiz-title">
        Quiz title
      </label>
      <input type="text" id="quiz-title">
      <label for="quiz-description">
        Quiz description
      </label>
      <input type="text" id="quiz-description">

      <label for="quiz-question-1">
        Question #1
      </label>
      <input type="text" id="quiz-question-1">

      <label for="quiz-answer-correct-1">
        Correct answer
      </label>
      <input type="text" id="quiz-answer-correct-1">

      <label for="quiz-answer-incorrect-1-A">
        Incorrect answer
      </label>
      <input type="text" id="quiz-answer-incorrect-1-A">

      <label for="quiz-answer-incorrect-1-B">
        Incorrect answer
      </label>
      <input type="text" id="quiz-answer-incorrect-1-B">

      <label for="quiz-answer-incorrect-1-C">
        Incorrect answer
      </label>
      <input type="text" id="quiz-answer-incorrect-1-C">

      <input type="button" value="Add question">
      <legend>
        Make your quiz public or private
      </legend>
        <input type="radio" name="size" id="size_1" value="small">
        <label for="size_1">Public</label>
        <input type="radio" name="size" id="size_2" value="medium">
        <label for="size_2">Private</label>
      <input type="submit" value="Submit">
    </form>
  </main>

</body>

</html>
