<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <h1>Have fun! 🥔</h1>
    <div class='container'>
      <div class= 'results'>
    <h3>Your Results!</h1>
    <h4><%= attempts[0].title%> </h2>
    <div class='answer-result'>
      <% for (let answer of attempts) { %>
        <span class='question-results'> Question: <%= answer.question %> </span>
        <span class='users-answer'> Your Answer: <%= answer.answer %></span>
        <% if (answer.correct_answer === true) { %>
        <span class='true'>CORRECT</span>
        <br>
        <% } else { %>
        <span class='false'>WRONG</span>
      <br>
    <% } %>
  <% } %>


    </div>
  </div>
  <div>
    <form method="GET" action="/quiz_id_share>/">
      <input type ="submit" value="Share">
    </form>
  </div>
  <a href="/"><div class= 'quiz-redirect'> Take another Quiz!</div></a>
</div>
</body>

</html>
