// See: https://sass-lang.com/

body,
html {
  margin: 0;
  color: white
}
h1 {
  color: black;
}
.nav {
  position : absolute;
  top: 0px;
  width : 95%;
  display: flex;
  justify-content: space-between;
  padding-inline: 1em;
  padding-block: 0.5em;
  border-bottom: solid 5px #ffffff;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.quiz-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin-inline: 10%;
}
.quiz-area {
  width: 40%;
  margin-block: 5%;
}
.quiz-box {
  background: rgb(131,58,180);
  background: linear-gradient(306deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  padding: 5%;
      padding-top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.quiz-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.quiz-buttons button {
  width: 40%;
  background: red;
}


form {
  display: flex;
  flex-direction: column;
}

#questions-container {
  display: flex;
  flex-direction: column;
}
.question-box {
  display: flex;
  flex-direction: column;
}
