// See: https://sass-lang.com/

body,
html {
  margin: 0;
  color: white
}
h1 {
  color: black;
}
.nav {
  position : absolute;
  top: 0px;
  width : 95%;
  display: flex;
  justify-content: space-between;
  padding-inline: 1em;
  padding-block: 0.5em;
  border-bottom: solid 5px #ffffff;
}
main {
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: center;
  position: relative;
  top: 50px;
}
.quiz-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin-inline: 10%;
}
.quiz-area {
  width: 40%;
  margin-block: 5%;
}
.quiz-box {
  background: rgb(131,58,180);
  background: linear-gradient(306deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  padding: 5%;
      padding-top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.quiz-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.quiz-buttons button {
  width: 40%;
  background: red;
}
.text {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.create {
  background: rgb(131,58,180);
  background: linear-gradient(306deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  padding: 5%;
      padding-top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.adding {
  display:flex;
  flex-direction: column;
  margin-block: 1em;
  align-items:center;
}
.quiz-redirect {
  background-color: rgb(131,58,180);
  background: linear-gradient(306deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  color :white;
  margin-top: 10px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:0.2em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

#questions-container {
  display: flex;
  flex-direction: column;
}
legend {
  display:flex;
  flex-direction: center;
  padding-top: 1em;
}
.question-box {
  background: rgb(131,58,180);
  background: linear-gradient(306deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top:1em;

}
h3 {
  color: black;
}
.container {
  border-radius: 5px;
  margin-top: 20px;
  padding: 30px;


      .question-result {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .users-answer {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
      .true {
        background-color:green;
        width: 5.2rem;
        padding: 3px;
        border-radius: 3px;
      }
      .false {
        background-color: rgb(23, 23, 68);
        width: 4.2rem;
        padding:3px;
        border: radius 3px;
      }
}
